%h3
  Cuisine
%p
  %ul
    %li= @cuisine.name
%h3
  Created at
%p
  %ul
    %li= @cuisine.created_at
%h3
  Updated at
%p
  %ul
    %li= @cuisine.updated_at
%br
%br
%br
%br
%br
=link_to 'Back', cuisines_path