%hr
- @users.each do |user|
  %p
    = link_to user.username, user_path(user)
    %span{:style => 'float:right;'}
      / = link_to 'View', user_path(user)
      / |
      = link_to 'Edit', edit_user_path(user)
      |
      = link_to 'Delete', user, :confirm => 'Are you sure?', :method => 'delete'
    %hr
