- @users.each do |user|
  = user.username
  %span{:style => 'float:right;'}
    = link_to 'View', user_path(user)
    |
    = link_to 'Edit', edit_user_path(user)
    |
    = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => 'delete'
  %hr