/ #about
%fieldset
  %h1 RecipeMe!
  %p{:style => 'color:#744A00;font-size:16px;'} History in the baking
  %p.left_margin We are very glad you decided to stop by!
  %p.left_margin If you are reading this, odds are that either
  %ul
    %li you forgot that you told your wife you were cooking tonight and need a recipe yesterday,
    %li or you simply enjoy cooking and have stumbled upon this useful gem.
  %p.left_margin Whether you are here on purpose or here by accident, we are glad to have you.
  %p Warm regards,
  %h3{:style => 'margin-bottom: 0px;'} RecipeMe! team