#about
  %h1 RecipeApp
  %h3 History in the baking
  %p We are so glad you decided to stop by!
  %p If you are reading this, odds are that either
  %ul
    %li you forgot that you told your wife you were cooking tonight and need a recipe yesterday,
    %li or you simply enjoy cooking and have stumbled upon this useful gem.
  %p Whether you are here on purpose or here by accident, we are glad to have you.
  %p Warm regards,
  %h3
    RecipeApp team