<div id="getting-started">
  <h1>Getting started</h1>
  <h2>Here&rsquo;s how to get rolling:</h2>
  <ol>
    <li>
      <h2>Create a username</h2>
      <p>Click the "How do I sign up?" link above.</p>
    </li>
    <li>
      <h2>Find your favourite recipe</h2>
      <p> Where to start? Try digging through your family&rsquo;s old cookbooks!</p>
    </li>
    <li>
      <h2>Add your recipe</h2>
      <p>Once you&rsquo;ve got your recipe all ready to enter, <a href="http://localhost:3000/login">login</a>, or if you already have, click <a href="http://localhost:3000/recipes/new">here</a>.</p>
    </li>
  </ol>
</div>