%h1 Getting started
%h3{:style => 'color:gray;'} Here’s how to get rolling:
%ol
  %li
    %h3 Create a username
    %p Click the "How do I sign up?" link above.
  %li
    %h3 Find your favourite recipe
    %p Where to start? Try digging through your family’s old cookbooks!
  %li
    %h3 Add your recipe
    %p
      Once you’ve got your recipe all ready to enter,
      = succeed "," do
        %a{:href => "http://localhost:3000/login"} login
      or if you already have, click
      = succeed "." do
        %a{:href => "http://localhost:3000/recipes/new"} here